$main-color: rgb(238, 15, 104);
$btn-width: 200px;

*{
  margin: 0;
  padding: 0;
}

header {
  background-color: $main-color;

}
main button {
  color: $main-color;
}
.small {
width: $btn-width / 2;
}
.normal {
width: $btn-width;
}
.large {
  width: $btn-width * 2;
}
